
* {
    margin: 0;
    padding: 0;
    }



body{
    font-family: sans-serif;
}

.par{
  
    font-size: 16px;  
    line-height:26px;  
    color:#1F3F68;
    width: 425px;
   padding: 5px;
    
}

.top__heading{
    font-size: 64px;
    color: #1F3F68;
    width: 510px;
    font-weight: 300;
    line-height: 74px;
    letter-spacing: 0.04em;
    margin-bottom: 32px;    
}
.top__text{
    width: 510px;
}

.top__button{
    font-style: normal;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 50px;
    text-decoration: none; 
    display: inline-block;
    margin-top: 71px;
}

.low_button{
    font-style: normal;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 50px;
    text-decoration: none;
    
    margin-right: 80px;
    
  }

.footer_list{
    flex-grow: 1;
    flex-basis: 25%;
    
}

.join{
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}
.heading{
    font-size: 36px;
    text-align: center;
    font-weight:300;
    line-height: 46px;
    letter-spacing: 0.05em;
}
.heading_mini{
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
    letter-spacing: 0.05em;
    margin-bottom: 14px;
}

.heading_mini_1{
    text-align: center;
    margin-bottom: 0;
    color: white;
    font-size: 30px;
    padding-top: 10px;
}

.card__link{
    font-size:14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;
}

.oopl{
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
    display: flex;
   justify-content: center;
   
}
.input-text{
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}
.hoya{
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color:  #FFFFFF;
    text-transform: uppercase;
}

.header{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding-top:42px;
   }

   .top__box{
    display: flex;
    flex-direction: column;
    height:100%;
   }

   .top_info{
    flex-grow: 1;
    padding-top: 115px;
    background-image: url(img/top__back.png);
    background-repeat: no-repeat;
    background-position: right center;
   }
   
   .text{
    font-size: 16px;
    line-height:26px;
    letter-spacing: 0.05em;
    color: #1F3F68; 
    opacity: 0.6;    
   }
   .text_footer{
    color:white;
    
    padding-left: 42px;;
    

   }

   .text__lowblock{
    width: 75%;
    margin: 32px auto 64px;
    color: #222222;
    opacity: 1;
    text-align: center;
   }


   .container{
    
    width: 1140px;
    margin: 0 auto;
   
   
    }
   .top{
   height: 768px;
   background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12% );
    }
   
   .contactsdiv{
    background-color: lightgreen;
    
     
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px;;
    display: block;
    width: 530px;
   }

 

   .footer__top{
    padding-bottom: 96px;
   
    display: flex;
    justify-content: space-between;
    align-items: center;    
    
   }

   .what_we_do{ 
   padding-top: 64px;
   }

    .entire{
    border: 5px solid darkgreen;
    width: 359px;
    height: 250px;
   }


   .footer{
    background-color: #316099;
    margin-top: 112px;
   
    padding-bottom: 64px;

   
   }

   .footer_text{
    width: 495px;
   }

   .ft1{
    font-size:36px;
    font-weight: 300;
    line-height: 46px;
   
    letter-spacing: 0.05em;
    color: #FFFFFF;
   }
   
   
   .ft3{
    font-size:14px;
    line-height: 34px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.4;
    padding-left: 54px;
    margin-top: 40px;
   
   }

   .footer_bottom{
      
   
     
   }

   .footer_info{
    padding-top: 60px;
    padding-left:64px;
   
    display: flex;
    justify-content: space-between;
    color: white;

   }

   .footer_info_1{

    color: white;
    text-decoration: none;
    
   }

    .contmiddle{
    border: 5px solid yellow;
    display: block;
   
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 400px;
    background-color: lightcyan;
    padding:5px;

   }

   .card-box{
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 64px;
   }

   .card{
    width: 359px;
    box-sizing: border-box;    
    border: 3px solid lightseagreen;
    padding: 44px 32px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    display: flex;
    flex-direction: column;
   }
   .card__img{
    align-self: center;
    margin-bottom: 51px;
   }
   .footerBase{
    display: flex;
    justify-content: center;
   
   }

  

   .list{
    list-style-type: none;
   }
  .contacts{
    display: block;
  }

  .main{
    display: flex;
  }

  .lowblock{}


  .lowblock__item{
    position:relative;
    flex-grow: 1;
  }

  .lowblock__parent{
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}
  

  .lowblock__img{
    width: 100%;
  }
  .lowblock__text{
    font-size:32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 64px;
    right: 64px;
  }
  .lowblock__text_low1{
    width: 340px;
    text-align: left;
    color:#fff;
    margin-bottom: 32px;
    padding-top: 42px;
    padding-left: 42px;;
  }

  .lowblock__item_margin{
    margin-right: 32px;
  }




